<div class="row">
    <div class="four columns">
        <div class="row u-full-width"> <h2>ADMIN PANEL</h2></div>
        <div class="row u-full-width"> <a ui-sref="admin/users">Users</a> </div>
        <div class="row u-full-width"> <a ui-sref="admin/files">Files</a> </div>
        <div class="row u-full-width"> <a ui-sref="admin/articles">Articles</a> </div>
        <div class="row u-full-width"> <a ui-sref="simulator">Go to main page</a> </div>
    </div>
    <div class="eight columns">
        <h3><span class="row u-full-width" ui-view="header"></span></h3>
        <div class="row u-full-width" ui-view="content"></div>
    </div>
</div>
<div class="row">
    <div ng-include="'templates/footer.html'"></div>
</div>