<div class="container">
    <div class="row">
        <div class="four columns">
            <section>
                <div class="row u-full-width"><h2>ADMIN PANEL</h2></div>
                <div class="row u-full-width"><a ui-sref="admin/users">Users</a></div>
                <div class="row u-full-width"><a ui-sref="admin/files">Files</a></div>
                <div class="row u-full-width"><a ui-sref="admin/articles">Articles</a></div>
                <div class="row u-full-width"><a ui-sref="simulator">Go to main page</a></div>
            </section>
        </div>

        <div class="eight columns">
            <section>
                <h3><span class="row u-full-width" ui-view="header"></span></h3>

                <div class="row u-full-width" ui-view="content"></div>
            </section>
        </div>
    </div>
    <footer ng-include="'templates/footer.html'"></footer>
</div>


