<div class="row">
    <div class="eight columns">
        <h1>SIC/XE SIMULATOR</h1>
    </div>
    <div class="user-panel four columns">
        <div ng-if="!user.logged" class="row">
            <a ui-sref="login">Login</a> | <a ui-sref="signup">Sign up</a>
        </div>
        <div ng-if="user.logged">
            <div class="row">
                You are logged as {{user.username}}
            </div>
            <div class="row">
                <a ui-sref="profile">Profile</a></h4> |
                <a ng-click="user.logged=false" ui-sref="simulator">Logout</a>
            </div>

        </div>

        <div ng-if="user.logged && user.admin" class="row">
            <a ui-sref="admin/users">Admin Panel</a>
        </div>
    </div>
</div>
<div class="row headers-region">
    <div class="four columns nav-opt">
        <h4><a ui-sref="simulator">Simulator</a></h4>
    </div>
    <div class="four columns nav-opt">
        <h4><a ui-sref="tutorials">Tutorials</a></h4>
    </div>
    <div class="four columns nav-opt">
        <h4><a ui-sref="about">About</a></h4>
    </div>
    <div class="three columns nav-opt">
    </div>

</div>