<div class="row">
    <div class="eight columns">
        <h1>SIC/XE SIMULATOR</h1>
    </div>
    <div class="four columns">
        <div class="row"><a ui-sref="login">Login</a> | <a ui-sref="signup">Sign up</a>
        </div>
        <div class="row"><a ui-sref="admin/users">Admin Panel</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="four columns"><h3><a ui-sref="simulator">SIMULATOR</a></h3></div>
    <div class="four columns"><h3><a ui-sref="tutorials">TUTORIALS</a></h3></div>
    <div class="four columns"><h3><a ui-sref="about">ABOUT</a></h3></div>
</div>