<header>
    <div class="row">
        <div class="inside-header">
            <div class="u-pull-left">
                <img class="logo" src="./img/logo1.png" alt="SIC" height="30" width="40">
            </div>
            <nav class="u-pull-left">
                <ul>
                    <a class="nav" ui-sref="simulator">
                        <li>
                            SIMULATOR
                        </li>
                    </a>
                    <a class="nav" ui-sref="tutorials">
                        <li>TUTORIALS
                            <ul ng-if="user.logged" class="tutorials">
                                <a class="nav" ui-sref="tutorials">
                                    <li>SHOW ALL</li>
                                </a>
                                <a class="nav" ui-sref="new-tutorial">
                                    <li>CREATE NEW</li>
                                </a>
                            </ul>
                        </li>
                    </a>
                    <a class="nav" ui-sref="about">
                        <li>ABOUT</li>
                    </a>
                </ul>
            </nav>
            <div class="user-panel">
                <div ng-if="!user.logged">
                    <a class="nav" ui-sref="login">Login</a> | <a class="nav" ui-sref="signup">Sign up</a></div>
                <div ng-if="user.logged">
                    <div>
                        Logged as {{user.username}}
                    </div>
                    <div>
                        <a class="nav" ui-sref="profile">Profile</a></h4> |
                        <a class="nav" ng-click="logout()" ui-sref="simulator">Logout</a>
                    </div>
                </div>
                <div ng-if="user.logged && user.admin">
                    <a class="nav" ui-sref="admin/users">Admin Panel</a>
                </div>
            </div>
        </div>
    </div>
</header>