<section>
    <div class="machine row">

        <div class=" cpu-disassembler six columns">
            <div class="row cpu">
                <div class="row machine-header"><h4>CPU</h4></div>

                <div class="machine-part">
                    <div class="row registers">
                        <div class="register" ng-repeat="register in machine.ints">
                            {{register.key}} -> {{register.value}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="sim-button" ng-click="step()">Step</button>
                </div>
            </div>

            <div class="row disassembler">
                <div class="row machine-header"><h4>Disassembler</h4></div>
                <div class="machine-part">
                    <div class="row">
                        <div class="six columns">Name</div>
                        <div class="six columns">Operand</div>
                    </div>
                    <div class="row" ng-repeat="instruction in machine.instructions">
                        <div class="six columns">{{instruction.name}}</div>
                        <div class="six columns">{{instruction.operand}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="six columns memory">
            <div class="row machine-header"><h4>Memory</h4></div>
            <div class="machine-part">
                <div class="row">
                    <div class="memory-cells">
                        <div ng-repeat="cell in machine.viewMemory track by $index" class="cell">
                            {{cell.value}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row memory-buttons">
                <div class="float-left">
                    <button class="sim-button" ng-click="prevMemory()" class="button-">Prev</button>
                </div>
                <div class="float-right">
                    <button class="sim-button" ng-click="nextMemory()" class="button-">Next</button>
                </div>

            </div>
        </div>
    </div>
    <div data-ui-view="output"></div>
    </div>
</section>