<div class="row">
    <div class="two columns">Load asm...</div>
</div>
<div class="row">
    <div class="four columns">
        <div class="four columns">Disassembler</div>
        <div class="four columns">

        </div>
    </div>
    <div class="four columns">
        
        <div class="row">CPU</div>
        <div class="row">
            {{machine}}

        </div>
    </div>
    <div class="four columns">
        <div class="four columns">Memory</div>
        <div class="four columns">

        </div>

    </div>
</div>