section.admin{
    text-align: center;
}
table.admin{
    width: 100%;

}
section.columns:first-child{
    margin-left: 0;
}
section.columns:last-child{
    margin-right: 0;
}
section.nine.columns {
    width: 76%;
}

table.admin tr th,
table.admin tr td{
    text-align: center;
}
