.has-error{
    border: 2px solid red!important;
}
.is-valid{
    border: 2px solid lawngreen!important;
}

input[type="submit"]:disabled {
    background: grey!important;
    border-color: grey!important;
}