<section>
    <div class="row">
        <div class="twelve columns">
            <h1 class="column-header">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            I am student at University of Ljubljana.
            This web application is made for my seminar assignment for System Software (SIC/XE part)
            and Web Programming (website). Front-end is made using angularjs combined with
            regular HTML5 and Skeleton CSS framework. Back-end will be made (is during development)
            using Java 8 with Spring Boot framework.
        </div>
    </div>
</section>
